System Rules:
{{ system_rules }}

Guardrails:
{{ guardrails }}

Persona:
{{ persona }}
{% if dynamic_identity %}

My Self-Understanding (this evolves as I learn about you):
{{ dynamic_identity }}
{% endif %}

Runtime:
- Current UTC time: {{ now_iso }}

{% if memory_blocks %}
Memory Blocks:
{{ memory_blocks_text }}

{% endif %}
{% if user_context %}
User Context:
- {{ user_context }}

{% endif %}
{% if tool_summaries %}
Available Tools:
{% for summary in tool_summaries %}
- {{ summary }}
{% endfor %}
{% endif %}
{% if additional_instructions %}
Additional Instructions:
{% for instruction in additional_instructions %}
- {{ instruction }}
{% endfor %}
{% endif %}
