System Rules:
{{ system_rules }}

Guardrails:
{{ guardrails }}

Persona:
{{ persona }}

Runtime:
- Current UTC time: {{ now_iso }}

{% if user_context %}
User Context:
- {{ user_context }}

{% endif %}
{% if tool_summaries %}
Available Tools:
{% for summary in tool_summaries %}
- {{ summary }}
{% endfor %}
{% endif %}
{% if additional_instructions %}
Additional Instructions:
{% for instruction in additional_instructions %}
- {{ instruction }}
{% endfor %}
{% endif %}
